__idea__
.vs
.vscode
overfusion
Debug
Release
ReleaseFast
x64
joined.txt
nul
scripts/*.manifest
jumbo/main.cpp
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.VC.opendb
*.aps
*.zip
*.rar
*.7z
*.tar
*.gz
*.xz
*.exe
*.dll
*.wtf
*.csv
*.ofstate
