[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "minhook"]
	path = minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "BackportCpp"]
	path = BackportCpp
	url = https://github.com/bitwizeshift/BackportCpp
[submodule "inih"]
	path = inih
	url = https://github.com/benhoyt/inih
[submodule "simpleini"]
	path = simpleini
	url = https://github.com/brofield/simpleini/
[submodule "expected"]
	path = expected
	url = https://github.com/TartanLlama/expected
