[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "minhook"]
	path = minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "simpleini"]
	path = simpleini
	url = https://github.com/brofield/simpleini/
[submodule "expected"]
	path = expected
	url = https://github.com/TartanLlama/expected
[submodule "optional"]
	path = optional
	url = https://github.com/TartanLlama/optional
[submodule "string_view-standalone"]
	path = string_view-standalone
	url = https://github.com/bitwizeshift/string_view-standalone
