CompileFlags:
  Add:
    - "-I../imgui"
    - "-I../minhook/include"
    - "-I../spdlog/include"
    - "-I../json/include"
    - "-I../BackportCpp/include"
    - "-D_DEBUG"
    - "-std=c++23"
    - "-m32"
Completion:
  HeaderInsertion: Never
